<h2>Restaurant: <%= @store.store_number %></h2>
<p><%= @store.name %><br><%= @store.email %></p>
<% if @workorders %>
  <% @workorders.each do |workorder| %>
    <% if workorder.store_number == @store.store_number %>
      <p>Work Order #: <button type="button" class="btn btn-light"><a class="my-link" href="/workorders/<%= workorder.id %>"><%= workorder.id %></a></button> - Entered On: <%= workorder.date %> By: <%= workorder.user[:username] %>
      <b>STATUS is <%= workorder.status.upcase %></b></p>
      <% if !workorder.current_updates.empty? %>
        <h3>Updates:</h3>
          <% workorder.current_updates.each do |info| %>
            <p><%= info[:date] %> - <%= info[:time] %> Entered By: <%= info[:username] %> : Update => <%= info[:notes] %></p>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
<% end %>

<button type="button" class="btn btn-dark"><a href="/stores/<%= @store.id %>/edit">Edit Restaurant</a></button>
<button type="button" class="btn btn-dark"><a href="/stores">All Restaurants</a></button><br><br>

<form action="/stores/<%= @store.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete Restaurant</button>
</form>
