<h1>Edit Work Order:</h1>
<form action="/workorders/<%= @workorder.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Restaurant Number: </label><input type="text" name=work_order[store_number] value="<%= @workorder.store_number %>" required><br>
    <label>Date: </label><input type="date" name=work_order[date] value="<%= @workorder.date %>" required><br>
    <label>Time: </label><input type="time" name=work_order[time] value="<%= @workorder.time %>" required><br>
    <label>Issue: </label><textarea name=work_order[issue] rows="10" columns="100" value="<%= @workorder.issue %>" required></textarea><br>
    <input type="submit" value="Submit Edit">
</form>

