<h3><button type="button" class="btn btn-light"><h2><a class="my-link" href="/stores/<%= Store.find_by(store_number: @workorder.store_number).id %>"><%= @workorder.store_number %></a></h2></button><br> Work Order#: <%= @workorder.id %></h3>
<p>Submitted on: <%= @workorder.date %> By: <%= @workorder.user[:username] %> At: <%= @workorder.time %></p> 
<p>Issue: <%= @workorder.issue %>
<br>
<% if !@workorder.current_updates.empty? %>
    <h3>Updates:</h3>
    <% @workorder.current_updates.each do |info| %>
        <p><%= info[:date] %> - <%= info[:time] %> Entered By: <%= info[:username] %> : Update => <%= info[:notes] %></p>
    <% end %>
<% end %>
<br>

<button type="button" class="btn btn-dark"><a href="/workorders/<%= @workorder.id %>/edit">Edit Work Order</a></button>
<button type="button" class="btn btn-dark"><a href="/workorders/<%= @workorder.id %>/update">Update Work Order</a></button>
<button type="button" class="btn btn-dark"><a href="/workorders">See All Workorders</a></button>