<h2>Restaurant: <%= @workorder.store_number %> Work Order#: <%= @workorder.id %></h2>
<p>Submitted on: <%= @workorder.date %> By: <%= @workorder.user[:username] %> At: <%= @workorder.time %></p> 
<p>Issue: <%= @workorder.issue %>
<br>
<% if !@workorder.current_updates.empty? %>
    <h3>Updates:</h3>
    <% @workorder.current_updates.each do |info| %>
        <p><%= info[:date] %> - <%= info[:time] %> Entered By: <%= info[:username] %> : Update => <%= info[:notes] %></p>
    <% end %>
<% end %>
<br>

<a href="/workorders/<%= @workorder.id %>/edit">Edit Work Order</a><br>
<a href="/workorders/<%= @workorder.id %>/update">Update Work Order</a><br>
<a href="/workorders">See All Workorders</a><br>