<h2>Update Work Order # <%= @workorder.id %> for Restaurant <%= @workorder.store_number %></h2>
<p>Submitted on: <%= @workorder.date %> By: <%= @workorder.user[:username] %> At: <%= @workorder.time %></p> 
<p>Issue: <%= @workorder.issue %>
<br>
<% if !@workorder.current_updates.empty? %>
    <h3>Updates:</h3>
    <% @workorder.current_updates.each do |info| %>
        <p><%= info[:date] %> - <%= info[:time] %> Entered By: <%= info[:username] %> : Update => <%= info[:notes] %></p>
    <% end %>
<% end %>
<form method="post" action="/workorders/<%= @workorder.id %>">
    <div class="form-group">
        <label>Update: </label>
            <textarea name="current_update[notes]" class="form-control" required></textarea>
    </div>
    <div class="form-check">
        <input type="checkbox" name="status" class="form-check-input" value="closed">
            <label>Close Work Order? </label>
    </div>
    <button type="submit" class="btn btn-dark">Update Work Order</button>
</form>


